<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@300&display=swap" rel="stylesheet">
        <title>Interest calculator | Friend_eiei</title>
    </head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <form method="POST" class="input-form">
                    <h1>💸</h1><input type="text" class="money-input" placeholder="amount" name="amount">
                </form>
            </div>
            <div class="result">
                
            </div>
        </div>
    </body>
</html>